<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حساب العمل</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
		<div id="main-content" class="left-item">
			<button class="open-btn" onclick="openSidebar()">☰</button>
		</div>
        <div class="gallery">
            {% for image in images %}
                <div class="image-item">
                    <img src="/static/uploads/{{ image }}.jpg" alt="{{ image }}" class="gallery-image" data-caption="{{ image }}">
                    <p>{{ image }}</p>
                </div>
            {% endfor %}
        </div>
    
		<div id="sidebar" class="sidebar">
			<a href="javascript:void(0)" onclick="closeSidebar()">✖ إغلاق</a>
			<button onclick="updateImages()" >الطقوم الجاهزة</button>
			<button onclick="updateAvailableImages()" >الطقوم الموجودة</button>
			<button onclick="updatePriceImages()" >الأسعار</button>
			<button onclick="updatePricImages()" >رأس المال</button>
			<button onclick="updatePricNazmImages()" >الأسعار لمحل ناظم</button>
			<button onclick="updatePricNazmImages1()" >الطقوم المفقودة</button>
			<a href="/summary" class="button">ملخص العمل</a>
			<a href="/summary14" class="button">الصفحة الرئيسية</a>
			<a href="/summary1" class="button">ملخص البيع</a>
			<a href="/summary2" class="button">المصروف</a>
			<a href="/summary3" class="button">الزكاة</a>
			<a href="/summary4" class="button">بيانات رأس المال</a>
			<a href="/summary5" class="button">بيانات البيع</a>
			<a href="/summary6" class="button">الأمانات</a>
			<a href="/summary8" class="button">بيانات عبد العظيم</a>
			<a href="/summary7" class="button">بيانات عبد الملك</a>
			<a href="/summary9" class="button">بيانات أحمد أحمدية</a>
			<a href="/summary10" class="button">الدفعات</a>
			<a href="/summary11" class="button">الإنتاج</a>
			<a href="/summary12" class="button">حساب خارجي</a>
			<a href="/summary13" class="button">جدول الدفعات الشهرية</a>
			<a href="/upload_page" class="button">رفع صورة</a>
			<a href="/images" class="button">الكل</a>
			<a href="/logout" class="button">تسجيل الخروج</a>
		</div>
	</div>
		<div id="myModal" class="modal" style="display: none;">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage">
            <div id="modalCaption" class="modal-caption"></div>
        </div>
        <script src="/static/js/javas.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



