<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles_mobile.css">
</head>
<body>
    <div class="login-container">
        <h1>تسجيل الدخول</h1>
        <form method="post" action="/login" class="login-form">
            <label for="username">اسم المستخدم:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">كلمة المرور:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">تسجيل الدخول</button>
        </form>
        
    </div>
</body>
</html>
